<ul>
    <% @posts.each do |post| %>
        <li><a href="post/<%= post.id %>"><%= post.user.username %>: <%= post.content %></a>, <%= post.comments.count %> comments, last updated <%= post.updated_at %></li>
    <% end %>
</ul>
<a href="/create_post">make a post</a>
<br>
<br>
<a href="/logout">log out</a>
<% if flash[:failure] %>
    <h1>posts about the election are not allowed</h1>
<% end %>