<a href="/">back</a>
<br>
<br>

By <%= @post.user.username %>
<br>
<br>

<%= @post.content %>
<br>
<br>

<% if @current_user == @post.user %>
    <%= link_to 'Edit Post', edit_post_path(@post) %>
    <br>
    <br>

    <form action="/post/<%= @post.id %>" method="delete">
        <input type="submit" value="Delete Post">
    </form>
    <br>
    <br>
<% end %>

Comments:
<ul>
    <% @post.comments.each do |comment| %>
        <li><%= comment.user.username %>: <%= comment.content %></li>
    <% end %>
</ul>
<form action="/add_comment" method="post">
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <textarea name="content"></textarea>
    <br>
    <input type="submit" />
</form>